<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <component-scan base-package="cn.haitaoss.tinyspringmvc.webappProject.controller"></component-scan>
    <!-- 开启aop的自动织入 -->
    <bean id="autoProxy" class="cn.haitaoss.tinyioc.aop.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <!-- 设置切面类 -->
    <bean id="aspectJExpressionPointcutAdvisor" class="cn.haitaoss.tinyioc.aop.AspectJExpressionPointcutAdvisor">
        <!-- timerInterceptor 我通过注解注册到IOC容器中了 -->
        <property name="advice" ref="timerInterceptor"></property>
        <property name="expression"
                  value="execution(* cn.haitaoss.tinyspringmvc.webappProject.controller..*.*(..))"></property>
    </bean>

    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="cn.haitaoss.tinyspringmvc.framework.view.InternalResourceViewResolver">
        <property name="viewClass" value="cn.haitaoss.tinyspringmvc.framework.view.InternalResourceView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>